.Components {
    display: flex;
    flex-direction: column;
}

body {
    background-color: #dbe3e6;
    font-family:"open_sansregular", "Helvetica Neue", Arial, Helvetica, sans-serif;
 
}

.Message {

    text-align: center;
    background-color: #fec3c3;
    border: 0px;
    padding: 1%;
    font-size: x-large;

}

.Message a{
    text-decoration: none;
    color: #0b5584;
}

.Result {
    text-transform: uppercase;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0b5584;
    padding: 1rem;

}

.nav__logo {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
  }

.nav__link {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
  }

/* main section */

.Main {
    text-align: center;
    margin-top: 1em;

}


.Main p {
    font-size: small;
}

.grid-container {
    display: grid;
    gap: 1rem;
    padding: 1.5em;
    padding-left: 2em;
    padding-right: 2em;
    

}

.grid-container img {
    display: block;
    width: 100%;  
    max-width: 400px;
    height: 250px;
    margin: 0 auto;
}

.grid-item {
    max-width: 1200px;
    background-color: rgba(255, 255, 255, 0.8);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    /* font-size: 10vw; */
    text-align: center;
    padding: 10px;

}

@media (min-width: 300px) {
    .grid-container { grid-template-columns: repeat(1, 1fr); }
  }

/*add: if display size if less than certain, then the grid-item p should be hidden */

@media (min-width: 600px) {
    .grid-container { grid-template-columns: repeat(2, 1fr); }
  }

@media (min-width: 900px) {
    .grid-container { grid-template-columns: repeat(3, 1fr); }
  }

@media only screen and (max-width: 400px) {
    .grid-item p {
        display: none;
    }
}



/* main2 */
.Main2 {
    background-color: #72A0C1;
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
 

}
 
table {
    border: 2px solid forestgreen;
    width: 800px;
    height: 200px;
    background-color: white;
}
 
th {
    border-bottom: 1px solid black;
}
 
td {
    text-align: center;
}

tr:nth-child(even){background-color: #f2f2f2}

/* tr:hover td {background-color: coral;} */



.scheduletime {
    align-items: center;
}



/* footer */
.Footer {
    text-align: center;
    /* border: 3px  */
    background-color:#0b5584;
    /* padding: 3%; */
}